<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="margin:0;padding:0;">
    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
      <tr>
        <td align="center" style="padding:0;">
          <main style="text-align-last: center; font-family: Verdana; font-size: 15px;" >
            <%= image_tag attachments['welcome.png'].url %>
            <h1><%= t("email.welcome") + " " + @user.email %></h1>
            <p>
              <%= t("email.successfully") %>
            </p>
            <p>
              <%= t("email.topics")%>: 
              <%= @topics.join(", ") %>.<br>
            </p>
            <p>
              <%= t("email.follow")%>: <%= @url %>.
            </p>
            <p>
              <%= t("email.tanks") %>
            </p>
            <p style="color: #30c584; font-family: Verdana;">
              <%= t("email.cancel") %>
              <%= link_to t("email.profile"), user_url(@user) %>
            </p>
          </main>
        </td>
      </tr>
    </table>
  </body>
</html>