<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <main style="text-align-last: center; font-family: Verdana; font-size: 15+++px;" >
      <%= image_tag attachments['welcome.png'].url %>
      <h1 ><%= t :correo_welcom %> <%= @user.email %></h1>
      <p>
        <%= t :correo_successfully %> 爵 https://www.micolet.com,
        <%= t :correo_username%>: <%= @user.email %>.<br>
      </p>
      <p>
        <%= t :correo_follow%>: <%= @url %>.
      </p>
      <p>
      <%= t :correo_tanks %>
      </p>


      <p style="color: #30c584; font-family: Verdana;"><%= t :correo_cancel %> <%=link_to "﫧 Profile", user_url(@user) %> </p>
    </main>
  </body>
</html>