%article.user
  %div
    %p #{t('.title_email_user')} :
    %p= user.email
  %div 
    %p #{t('.title_subscribed_to')} :
    %ul
      - user.topics.each do |topic|
        %li= t("models.topics.names.#{topic.id}")
