<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneCollectiviaTeam03</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="section">
      <header class="header">
        <%= image_tag("micolet-logo.svg") %>
        <%= content_tag("p", t('.tag_line'), {class: "subtle center"}) %>
      </header>
      <main class="main">
        <div class="flash_messages">
          <% flash.each do |type, message| %>
            <% if type === "alert" %>
              <%= content_tag :p, message, class: "error center" %>
            <% else %>
              <%= content_tag :p, message, class: "notice center" %>
            <% end %>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
